{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block main %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h2>Register</h2>

	<div class="register-form">
		{{ form_errors(registrationForm) }}
		{{ form_start(registrationForm) }}
		<div class="form-columns">
			<div class="identity-details">
				<fieldset class="mb-3">
					<legend>My identity</legend>
					{{ form_row(registrationForm.username) }}
					{{ form_row(registrationForm.firstName) }}
					{{ form_row(registrationForm.lastName) }}
					{{ form_row(registrationForm.email) }}
					{{ form_row(registrationForm.plainPassword.first) }}
					{{ form_row(registrationForm.plainPassword.second) }}
					<details class="password-rules">
						<summary>Password rules</summary>
						<ul>
							<li class="rule-length">Be at least 8 characters long</li>
							<li class="rule-uppercase">Contain at least one uppercase letter</li>
							<li class="rule-lowercase">Contain at least one lowercase letter</li>
							<li class="rule-digit">Contain at least one digit</li>
							<li class="rule-special-char">Contain at least one special character</li>
						</ul>
					</details>
				</fieldset>
			</div>
			<div class="contact-details">
				<fieldset class="mb-3">
					<legend>My contact details</legend>
					{{ form_row(registrationForm.phoneNumber) }}
					{{ form_row(registrationForm.numStreet) }}
					{{ form_row(registrationForm.city) }}
					{{ form_row(registrationForm.zipCode) }}
					{{ form_label(registrationForm.agreeTerms) }}
					{{ form_widget(registrationForm.agreeTerms) }}
				</fieldset>
			</div>
		</div>
		<div class="button-container">
			<button type="submit" class="btn btn-success my-2">Register</button>
			<a href="{{ path('login') }}" class="btn btn-primary my-2">Log in</a>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
