<a href="{{ path('home') }}">
	<h1><img class="logo-image" src="{{ asset('images/logo.png') }}" alt="Logo"></h1>
</a>

<nav>
	<a href="{{ path('home') }}">Accueil</a>
	<a href="{{ path('category_form') }}">Category</a>
	{# <div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
			Category
		</button>
		<ul class="dropdown-menu" aria-labelledby="categoryDropdown">
			{% for category in categories %}
				<li><a class="dropdown-item" href="{{ path('category_list', {'slug': category.slug}) }}">{{ category.name }}</a></li>
			{% endfor %}
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="#">Separated link</a></li>
		</ul>
	</div> #}
	<a href="#">Blog</a>
	<a href="{{ path('project') }}">Project</a>
	<a href="{{ path('list_message') }}">Message</a>
	<a href="{{ path('contact') }}">Contact</a>
</nav>

<div class="icons">
	<a href="#accueil"><i class="fas fa-search"></i></a>
	<a href="#accueil"><i class="fas fa-shopping-cart"></i></a>

	{# {% if app.user %}
		<a href="{{ path('app_logout') }}">
			<i class="fas fa-user"></i>
			{{ app.user.username }}</a>
		<a style="hover-red" href="{{ path('app_logout') }}" class="btn btn-danger">
			<i class="fa-solid fa-right-from-bracket"></i>
		</a>
	{% else %}
		<a href="{{ path('app_login') }}">
			<i class="fas fa-user"></i>
			Log in</a>
		<a href="{{ path('app_register') }}">Sign in</a>
	{% endif %} #}

	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<a href="{{ path('home') }}"><i class="fas fa-user"></i> {{ app.user.username }}</a>
		<a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="fa-solid fa-right-from-bracket"></i></a>
	{% else %}
		<a href="{{ path('app_login') }}"><i class="fas fa-user"></i> Log in</a>
	{% endif %}
</div>
