{% extends 'base.html.twig' %}

{% block title %}Message
{% endblock %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h2>Subject:
					{{ message.title }}</h2>
				<div class="read-message-header">
					<p>Message from
						{{ message.sender.username }}
						&lt;{{ message.sender.email }}&gt;</p>
					<p>{{ message.timeMsg|date('d M Y') }}
						{{ message.timeMsg|date('H:i') }}</p>
				</div>
				<div class="read-content">
					<p>{{ message.content }}</p>
				</div>

				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					View my folders
				</a>
				<a href="{{ path("message_reply", {id: message.id}) }}" class="btn btn-success">Reply</a>
				<a href="{{ path("message_index") }}" class="btn btn-danger">Back to Inbox</a>
			</div>
		</div>
	</section>
	<div class="offcanvas offcanvas-start text-white bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Private message</h2>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="list-group">
				<a href="{{ path("message_index") }}" class="list-group-item list-group-item-action active">Inbox</a>
				<a href="{{ path("message_sent") }}" class="list-group-item list-group-item-action">Sent message</a>
			</div>
			<div class="list-group send">
				<a href="{{ path("message_send") }}" class="list-group-item list-group-item-action">Send a message</a>
			</div>
		</div>
	</div>
{% endblock %}
