{# templates/pages/message/reply.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Reply to "{{ originalMessage.title }}"
{% endblock %}

{% block main %}
	<h2>Reply to "{{ originalMessage.title }}"</h2>

	<p>Original Message:</p>
	<blockquote>
		<p>{{ originalMessage.content }}</p>
		<small style="color: white">Sent by
			{{ originalMessage.sender.username }}
			on
			{{ originalMessage.timeMsg|date }}</small>
	</blockquote>

	{{ form_start(form) }}
        {{ form_row(form.content) }}
        <br>
        <button type="submit" class="btn btn-primary">Send Reply</button>
	    <a href="{{ path('message') }}" class="btn btn-danger">Cancel</a>
	{{ form_end(form) }}

{% endblock %}
