{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block main %}
    {% block section %}
        {{ form_start(form, {'attr': {'class': 'texte-blanc-form'}}) }}
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_rest(form) }}
            <button type="submit">Enregistrer</button>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
