{% extends 'base.html.twig' %}

{% block title %}Edit Dispute
{% endblock %}

{% block main %}
	<div class="dispute-form">
		<h2>Edit Dispute</h2>
		{{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
		{{ form_row(form.title) }}
		{{ form_row(form.description) }}
		{{ form_row(form.problemType) }}

		<div id="blog-field" style="display: none;">
			{{ form_row(form.blog) }}
		</div>

		<div id="project-field" style="display: none;">
			{% if projects is not empty %}
				{{ form_row(form.project) }}
			{% else %}
				<p>No project available</p>
			{% endif %}
		</div>

		<div id="comment-field" style="display: none;">
			{{ form_row(form.comment) }}
		</div>

		<div id="order-field" style="display: none;">
			{% if orders is not empty %}
				{{ form_row(form.order) }}
			{% else %}
				<p>No order available.</p>
			{% endif %}
		</div>
		<button type="submit" class="btn btn-success">Update</button>
		<a href="{{ path('contact_details', {'id': dispute.id}) }}" type="submit" class="btn btn-danger">Cancel</a>
		{{ form_end(form) }}
	</div>
{% endblock %}
