{% extends 'base.html.twig' %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block main %}
	<h3>{{ category.name }}</h3>
	{% if category.products is not empty %}
		<div class="row">
			{% for product in category.products %}
				<div class="col-md-4">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								{% if product.images|length > 0 %}
									<div id="carouselExampleIndicators{{ product.id }}" class="carousel slide">
										<div class="carousel-indicators">
											{% for loopIndex, image in product.images %}
												<button type="button" data-bs-target="#carouselExampleIndicators{{ product.id }}" data-bs-slide-to="{{ loopIndex }}" {% if loopIndex == 0 %} class="active" {% endif %}></button>
											{% endfor %}
										</div>
										<div class="carousel-inner">
											{% for loopIndex, image in product.images %}
												<div class="carousel-item{% if loopIndex == 0 %} active{% endif %}">
													<div class"image-product">
														<img src="/uploads/{{ image.filename }}" class="d-block w-100" alt="{{ image.altText }}" style="object-fit: cover; height: 200px; border-top-left-radius: 10px;">
													</div>
												</div>
											{% endfor %}
										</div>
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ product.id }}" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ product.id }}" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
										</button>
									</div>
								{% else %}
									<p>No image</p>
								{% endif %}
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">
										<strong>{{ product.nameProduct }} 
											{{ product.color }}</strong>
									</h5>
									<p class="card-text">{{ product.designation }}</p>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item"></li>
									{% if product.promos is not empty and discountedPrices[product.id] is defined %}
										<li class="list-group-item">
											<span class="strike-through">{{ product.priceVAT | number_format(2, ',', '.') }}
												€</span>
											<span class="promo_red">
												{{ discountedPrices[product.id] | number_format(2, ',', '.') }}
												€
											</span>
										</li>
									{% else %}
										<li class="list-group-item">
											{{ product.priceVAT | number_format(2, ',', '.') }}
											€
										</li>
									{% endif %}
								</ul>
								<div class="card-body">
									<a href="{{ path("cart_add", {id: product.id}) }}" class="btn btn-success">Add to cart</a>
									<a href="{{ path('product_detail', {'id': product.id}) }}" class="btn btn-primary">View product</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>No products available in this category.</p>
	{% endif %}
{% endblock %}
