{% set configs = config_service.findAll %}
{% set ea_edit_current_entity = null %}
{% set unreadMessageCount = unread_message_count() %}

{% if entity is defined %}
	{% set label_edit_current_entity = entity_label(entity) %}
	{% set ea_edit_current_entity = ea_edit(entity) %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			{% block title %}
				{{ configs['blog_title'] }}
			{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header>
			<a href="{{ path('home') }}">
				<h1><img class="logo-image" src="{{ asset('images/brico_project.png') }}" alt="logo"></h1>
			</a>

			<nav>
				{% if is_granted("ROLE_ADMIN") or is_granted("ROLE_HANDYMAN") %}
					<a href="{{ path('admin') }}">Dashboard</a>
				{% endif %}
				<a href="{{ path('home') }}" {% if app.request.attributes.get('_route') == 'home' %} class="active" {% endif %}>Home</a>

				<div class="dropdown" id="myDropdown">
					<a href="#" class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'product_category' %} active {% endif %}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Category
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for category in cats.getCategory %}
							<li>
								<a class="dropdown-item" href="{{ path('product_category', {'slug': category.slug}) }}">{{ category.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<a href="{{ path('blog_list') }}" {% if app.request.attributes.get('_route') starts with 'blog_' %} class="active" {% endif %}>Blog</a>
				<a href="{{ path('product_all') }}" {% if app.request.attributes.get('_route') starts with 'product_all' or app.request.attributes.get('_route') starts with 'product_detail' %} class="active" {% endif %}>Product</a>
				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					{% set messagePath = path("message_index") %}
					{% if unreadMessageCount > 0 %}
						<a href="{{ messagePath }}" {% if app.request.attributes.get('_route') starts with 'message_' %} class="active" {% endif %}>
							Message
							<span class="badge bg-danger rounded-pill">{{ unreadMessageCount }}</span>
						</a>
					{% else %}
						<a href="{{ messagePath }}" {% if app.request.attributes.get('_route') starts with 'message_' %} class="active" {% endif %}>Message</a>
					{% endif %}
				{% endif %}
				<div class="dropdown">
					<a href="#" class="nav-link dropdown-toggle {% if app.request.attributes.get('_route') starts with 'contact_' or app.request.attributes.get('_route') starts with 'project_' %} active {% endif %}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Contact
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path('contact_index') }}">Dispute</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('project_index') }}">Project</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="nav-right">
				{{ render(controller('App\\Controller\\SearchBarController::index')) }}
				<div class="icons">
					<a href="{{ path('cart_index') }}">
						<i class="fas fa-shopping-cart"></i>
					</a>
					{% if is_granted("IS_AUTHENTICATED_FULLY") %}
						<a href="{{ path('profile_index') }}">
							<i class="fas fa-user"></i>
							{% if app.user.username|length > 10 %}
								{{ app.user.username|slice(0, 10) ~ '...' }}
							{% else %}
								{{ app.user.username }}
							{% endif %}
						</a>
						<a href="{{ path('logout') }}" class="btn btn-danger">
							<i class="fa-solid fa-right-from-bracket"></i>
						</a>
					{% else %}
						<a href="{{ path('login') }}">
							<i class="fas fa-user"></i>
							Log in</a>
						<a href="{{ path('register') }}">Sign up</a>
					{% endif %}
				</div>
			</div>
		</header>
	</body>
	<main>
		{% include '_partials/_flash.html.twig' %}
		{% block main %}{% endblock %}
	</main>
	{% include '_partials/_footer.html.twig' %}
</html>
