<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil
			{% endblock %}
		</title>
		<link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}
		{% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/021d66ba26.js" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<header>
			<a
				href="{{ path('home') }}">
				{# <h1><img class="logo-image" src="{{ asset('images/logo.png') }}" alt="Logo"></h1> #}
				<h1 class="logo-image" alt="Logo">
					<i class="fa-solid fa-screwdriver-wrench"></i>
				</h1>
			</a>

			<nav>
				<a href="{{ path('home') }}">Accueil</a>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Category
					</button>
					<ul class="dropdown-menu">
						{% for category in cats.getCategory %}
							<li>
								<a href="{{ path('category_list', {'slug': category.slug}) }}">{{ category.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<a href="#">Blog</a>
				<a href="{{ path('project') }}">Project</a>
				<a href="{{ path("message") }}">Message</a>
				<a href="{{ path('contact') }}">Contact</a>
			</nav>

			<div class="icons">
				<a href="#accueil">
					<i class="fas fa-search"></i>
				</a>
				<a href="#accueil">
					<i class="fas fa-shopping-cart"></i>
				</a>

				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<a href="{{ path('home') }}">
						<i class="fas fa-user"></i>
						{{ app.user.username }}</a>
					<a href="{{ path('app_logout') }}" class="btn btn-danger">
						<i class="fa-solid fa-right-from-bracket"></i>
					</a>
				{% else %}
					<a href="{{ path('app_login') }}">
						<i class="fas fa-user"></i>
						Log in</a>
					<a href="{{ path('app_register') }}">Sign in</a>
				{% endif %}
			</div>
		</header>
		<main>
			{% block main %}
				{% for message in app.flashes("message") %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{message}}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
			{% endblock %}
			{# {% include '_partials/_flash.html.twig' %} #}
		</main>
		{% include '_partials/_footer.html.twig' %}
	</body>
</html>
