{% extends 'base.html.twig' %}

{% block title %}List of products
{% endblock %}

{% block main %}
	<h3>List of products</h3>

	<div class="form-check">
		{% if filterForm is defined %}
			{{ form_start(filterForm) }}
			{% for category in filterForm.categories %}
				<div class="form-check form-check-inline">
					{{ form_widget(category, { 'label_attr': {'class': 'form-check-label'} }) }}
					{{ form_label(category) }}
				</div>
			{% endfor %}
			<button class="btn btn-success" type="submit">Filter</button>
			{{ form_end(filterForm) }}
		{% endif %}
	</div>

	{% if products is not empty %}
		<div class="row product">
			{% for product in products %}
				<div class="col-md-4 mb-4">
					<div class="card h-100">
						<div class="row g-0">
							<div class="col-md-4">
								{% if product.images|length > 1 %}
									<div id="carouselExampleIndicators{{ product.id }}" class="carousel carousel-dark slide">
										<div class="carousel-indicators">
											{% for loopIndex, image in product.images %}
												<button type="button" data-bs-target="#carouselExampleIndicators{{ product.id }}" data-bs-slide-to="{{ loopIndex }}" {% if loopIndex == 0 %} class="active" {% endif %}></button>
											{% endfor %}
										</div>
										<div class="carousel-inner">
											{% for loopIndex, image in product.images %}
												<div class="carousel-item{% if loopIndex == 0 %} active{% endif %}">
													<div class="image-product">
														<img src="/uploads/{{ image.filename }}" class="d-block w-100" alt="{{ image.altText }}" style="width: 200px; height: 200px; object-fit: contain; border-top-radius: 10px;">
													</div>
												</div>
											{% endfor %}
										</div>
										<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ product.id }}" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										</button>
										<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ product.id }}" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
										</button>
									</div>
								{% elseif product.images|length == 1 %}
									{% set firstImage = product.images.first %}
									<div class="image-product">
										<img src="/uploads/{{ firstImage.filename }}" class="d-block w-100" alt="{{ firstImage.altText }}" style="width: 200px; height: 200px; object-fit: contain; border-top-radius: 10px;">
									</div>
								{% else %}
									<p>No image</p>
								{% endif %}
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">
										<strong>{{ product.nameProduct }}
											{{ product.color }}</strong>
									</h5>
									<p class="card-text">{{ product.designation }}</p>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">
										{% if product.promos is not empty and discountedPrices[product.id] is defined %}
											<span class="strike-through">{{ product.priceVAT | number_format(2, ',', '.') }}
												€</span>
											<strong class="promo_red">{{ discountedPrices[product.id] | number_format(2, ',', '.') }}
												€</strong>
										{% else %}
											{{ product.priceVAT | number_format(2, ',', '.') }}
											€
										{% endif %}
									</li>
									{% if product.stock > 0 %}
										<li class="list-group-item {% if product.stock <= 5 %}low-stock{% else %}high-stock{% endif %}">
											{% if product.stock <= 5 %}
												<i class="fa-solid fa-hourglass-half"></i>
												Almost sold out,
												{{ product.stock }}
												left in stock.
											{% else %}
												<i class="fa-solid fa-circle-check"></i>
												Available
											{% endif %}
										</li>
									{% else %}
										<li class="list-group-item text-danger">
											<i class="fa-solid fa-circle-xmark"></i>
											Temporary out of stock.
										</li>
									{% endif %}
								</ul>
							</div>
						</div>
						<div class="card-footer d-flex justify-content-end">
							{% if product.stock > 0 %}
								<a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success me-3">Add to cart</a>
							{% endif %}
							<a href="{{ path('product_detail', {'id': product.id}) }}" class="btn btn-primary">View product</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		{# {% if productsPage is not null %}
			<div class="page-custom">
				{{ knp_pagination_render(productsPage) }}
			</div>
		{% endif %} #}
	{% else %}
		<p>No products available in this category.</p>
	{% endif %}
{% endblock %}
