{% extends 'base.html.twig' %}

{% block title %}Edit your profile
{% endblock %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h2>Edit Profile</h2>
				<div class="user-form">
					{{ form_start(form) }}
					<div class="form-column">
						<div class="identity-details">
							<fieldset class="mb-3">
								<legend>My profile</legend>
								{{ form_row(form.username) }}
								{{ form_row(form.email) }}
								{{ form_row(form.phoneNumber) }}
								{{ form_row(form.numStreet) }}
								{{ form_row(form.city) }}
								{{ form_row(form.zipCode) }}
							</fieldset>
						</div>
						<div class="password">
							<fieldset class="mb-3">
								<legend>Password</legend>
								{{ form_row(form.newPassword.first) }}
								{{ form_row(form.newPassword.second) }}
								{{ form_row(form.currentPassword) }}
								<details class="password-rules">
									<summary>Password rules</summary>
									<ul>
										<li class="rule-length">Be at least 8 characters long</li>
										<li class="rule-uppercase">Contain at least one uppercase letter</li>
										<li class="rule-lowercase">Contain at least one lowercase letter</li>
										<li class="rule-digit">Contain at least one digit</li>
										<li class="rule-special-char">Contain at least one special character</li>
									</ul>
								</details>
							</fieldset>
						</div>
					</div>
					<div class="button-container">
						<button type="submit" class="btn btn-success">Save</button>
						<a href="{{ referer }}" class="btn btn-danger">Back</a>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('edit_profile') }}
{% endblock %}
