{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block main %}
	<div class="profile-container">
		<div class="profile-info">
			<h2>Your Profile</h2>

			{% if not app.user.isVerified() %}
				<div class="alert alert-warning" role="alert">
					Please verify your email address
					<strong>{{ app.user.email }}</strong>. Check your inbox for a verification email.
				</div>
			{% endif %}

			<form class="show-profile">
				<label for="username">Username:</label>
				<input type="text" class="form-control" value="{{ app.user.username }}" readonly>

				<label for="fullName">Full Name:</label>
				<input type="text" class="form-control" value="{{ app.user.getFullname() }}" readonly>

				<label for="email">Email:</label>
				<input type="email" class="form-control" value="{{ app.user.email }}" readonly>

				<label for="phoneNumber">Phone Number:</label>
				<input type="text" class="form-control" value="{{ app.user.phoneNumber }}" readonly>

				<label for="streetNumber">Street Number:</label>
				<input type="text" class="form-control" value="{{ app.user.numStreet }}" readonly>

				<label for="city">City:</label>
				<input type="text" class="form-control" value="{{ app.user.city }}" readonly>

				<label for="zipCode">ZIP Code:</label>
				<input type="text" class="form-control" value="{{ app.user.zipCode }}" readonly>
			</form>

			<div class="button-show-profile">
				<a href="{{ path('profile_edit') }}" class="btn btn-success">Edit profile</a>
				<a href="{{ path('order_list') }}" class="btn btn-primary">List orders</a>
			</div>
		</div>

		<div class="additional-info">
			<div class="blog-show-profile">
				{% if app.user.blogs | length > 0 %}
					<h2>Your Blogs ({{ app.user.blogs | length }})</h2>
					{% for blog in app.user.blogs %}
						<p>Title:
							{{ blog.title }}</p>
						<a href="{{ path('blog_show', {'slug': blog.slug}) }}" class="btn btn-primary">Go to the blog</a>
					{% endfor %}
				{% endif %}
			</div>
			<div class="dispute-show-profile">
				{% if app.user.disputes | length > 0 %}
					<h2>Your Disputes ({{ app.user.disputes | length }})</h2>
					{% for dispute in app.user.disputes %}
						<p>Title:
							{{ dispute.title }}</p>
						<a href="{{ path('contact_details', {'id': dispute.id}) }}" class="btn btn-primary">Details</a>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
