{% extends 'base.html.twig' %}

{% block title %}List of orders{% endblock %}

{% block main %}
    <section>
        <h2>Order List</h2>
        {% if orders is not empty %}
            <ul class="order-list list-unstyled">
                {% for order in orders %}
                    {% if 'ORDER_PAID' in order.getStatutOrders() or 'ORDER_IN_PROCESS' in order.getStatutOrders() %}
                        <li>
                            {% if 'ORDER_PAID' in order.getStatutOrders() %}
                                <i class="fas fa-check"></i>
                            {% else %}
                                <i class="fas fa-hourglass-half"></i>
                            {% endif %}
                            Reference: {{ order.reference }} -
                            Total: {{ order.total | number_format(2, ',', '.') }} € -
                            Date: {{ order.dateOrder|date('d M Y') }} |
                            Time: {{ order.dateOrder|date('H:i') }}
                            <a href="{{ path('order_details', {'id': order.id}) }}" class="btn btn-success">Details</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No paid or in-process orders found.</p>
        {% endif %}
        <a href="{{ path('profile_index') }}" class="btn btn-danger">Back</a>
    </section>
{% endblock %}
