{% extends 'base.html.twig' %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col-10">
				<h2>Order Payment</h2>

				<table class="table table-striped">
					<tr>
						<th>Reference:</th>
						<td>{{ order.getReference() }}</td>
					</tr>
					<tr>
						<th>Date:</th>
						<td>{{ order.getDateOrder() | date('d-m-Y') }}</td>
					</tr>
					<tr>
						<th>Products:</th>
						<td>
							<ul class="list-unstyled">
								{% for lineOrder in order.getLineOrders() %}
									<li>
										{% if lineOrder.getProduct().getImages() is not empty %}
											{% set firstImage = lineOrder.getProduct().getImages().first() %}
											<img src="/uploads/{{ firstImage.filename }}" class="img-fluid" style="max-width: 50px;" alt="{{ firstImage.altText }}">
										{% endif %}
										{{ lineOrder.getQuantity() }}
										x
										{{ lineOrder.getProduct().getNameProduct() }}
										{% if lineOrder.getProduct().getPromos() is not empty %}
											{% set promo = lineOrder.getProduct().getPromos().first %}
											{% if promo.isActivePromo() %}
												{% set discountedPrice = lineOrder.getSellingPrice() * (1 - promo.getPercent() / 100) %}
												({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
											{% else %}
												({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
											{% endif %}
										{% else %}
											({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
										{% endif %}
										€)
									</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				</table>

				<div class="d-flex justify-content-between">
					<p>Total Amount:
						{{ order.total | number_format(2, ',', '.') }}
						€</p>

					<form method="get" action="{{ path('order_cancel_payment', {'id': order.id}) }}">
						<button class="btn btn-danger" type="submit">Cancel</button>
					</form>
				</div>

				<h2>Payment Information</h2>
				{% if order.isValid == true %}
					<form method="post" action="{{ path('order_pay', {'id': order.id}) }}">
						{{ form_start(paymentForm) }}
						<p class="mb-2">Payment method:</p>
						<div class="d-flex justify-content-between">
							{{ form_row(paymentForm.paymentMode) }}
							<button type="submit" class="btn btn-primary">Pay now</button>
						</div>
						{{ form_end(paymentForm) }}
					</form>
				{% else %}
					<p class="text-danger">Your order is being validated by admin.</p>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
