{% extends 'base.html.twig' %}

{% block main %}
	<main class="container">
		<section class="row">
			<div class="col-10">
				<h2>Order Payment</h2>

				<p>Order ID:
					{{ order.id }}</p>

				<table class="table table-striped mt-3">
					<tr>
						<th>Reference:</th>
						<td>{{ order.getReference() }}</td>
					</tr>
					<tr>
						<th>Date:</th>
						<td>{{ order.getDateOrder() | date('d-m-Y') }}</td>
					</tr>
					<tr>
						<th>Products:</th>
						<td>
							<ul>
								{% for lineOrder in order.getLineOrders() %}
									<li>
										{% if lineOrder.getProduct().getImages() is not empty %}
											{% set firstImage = lineOrder.getProduct().getImages().first() %}
											<img src="/uploads/{{ firstImage.filename }}" class="img-fluid" style="max-width: 50px;" alt="{{ firstImage.altText }}">
										{% endif %}
										{{ lineOrder.getQuantity() }}
										x
										{{ lineOrder.getProduct().getNameProduct() }}
										{% if lineOrder.getProduct().getPromos() is not empty %}
											{% set promo = lineOrder.getProduct().getPromos().first %}
											{% if promo.isActivePromo() %}
												{% set discountedPrice = lineOrder.getSellingPrice() * (1 - promo.getPercent() / 100) %}
												({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
											{% else %}
												({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
											{% endif %}
										{% else %}
											({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
										{% endif %}
										€)
									</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				</td>
			</tr>
		</table>

		<div class="d-flex justify-content-between mb-3">
			<p>Total Amount:
				{{ order.total | number_format(2, ',', '.') }}
				€</p>

			<form method="get" action="{{ path('order_cancel_payment', {'id': order.id}) }}">
				<div class="mb-3">
					<button class="btn btn-danger" type="submit">Cancel</button>
				</div>
			</form>
		</div>
		{% if order.isValid == true %}
			<form method="post" action="{{ path('order_pay', {'id': order.id}) }}" class="mb-4">
				<h3>Payment Information</h3>

				{{ form_start(paymentForm) }}
				<div class="mb-3">
					<p class="mb-2">Payment method</p>
					<div class="d-flex justify-content-between">
						{{ form_row(paymentForm.paymentMode) }}
						<button type="submit" class="btn btn-primary">Pay Now</button>
					</div>
				</div>
				{{ form_end(paymentForm) }}
			</form>
		{% else %}
			<p class="text-danger">Your order is being validated by admin.</p>
		{% endif %}
	</div>
</section></main>{% endblock %}
