{% extends 'base.html.twig' %}

{% block main %}
	<section class="container">
		<div class="row">
			<div class="col-5">
				<h2>Delivery Information</h2>
				<p>Your Address:
					{{ app.user.getFullAddress() }}
				</p>

				{% set deliveryDate = order.getDateOrder()|date_modify('+3 days') %}
				<p>Estimated Delivery Date:
					{{ deliveryDate|date('j F Y') }}
				</p>
			</div>
			<div class="col-6">
				<h2>Order Payment</h2>

				<table class="table table-striped">
					<tr>
						<th>Reference:</th>
						<td>{{ order.getReference() }}</td>
					</tr>
					<tr>
						<th>Date:</th>
						<td>{{ order.getDateOrder() | date('j F Y') }}</td>
					</tr>
					<tr>
						<th>Products:</th>
						<td>
							<ul class="list-unstyled">
								{% for lineOrder in order.getLineOrders() %}
									<li>
										{% if lineOrder.getProduct().getImages() is not empty %}
											{% set firstImage = lineOrder.getProduct().getImages().first() %}
											<img src="/uploads/{{ firstImage.filename }}" class="img-fluid" style="max-width: 50px;" alt="{{ firstImage.altText }}">
										{% endif %}
										{{ lineOrder.getQuantity() }}
										x
										{{ lineOrder.getProduct().getNameProduct() }}
										{% if lineOrder.getProduct().getPromos() is not empty %}
											{% set promo = lineOrder.getProduct().getPromos().first %}
											{% if promo.isActivePromo() %}
												{% set discountedPrice = lineOrder.getSellingPrice() * (1 - promo.getPercent() / 100) %}
												({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
											{% else %}
												({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
											{% endif %}
										{% else %}
											({{ lineOrder.getSellingPrice() | number_format(2, ',', '.') }}
										{% endif %}
										€)
									</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				</table>
				<p>Total Amount:
					{{ order.total | number_format(2, ',', '.') }}
					€</p>

				{% if order.isValid == true %}
					<a href="{{ path('order_pay', {'id': order.id}) }}" class="btn btn-primary">Pay with Stripe</a>
				{% else %}
					<p class="text-danger">Your order is being validated by admin.</p>
				{% endif %}
					<a href="{{ path('order_cancel_payment', {'id': order.id}) }}" class="btn btn-danger" type="submit">Cancel</a>
			</div>
		</div>
	</section>
{% endblock %}
